body {
   margin: 0px;
   padding: 0px;
}

.bgimage {
   background: #f4f5f4;
   z-index: -1;
   position: absolute; 
   margin: 0; 
   width:100%; 
   height: 100%;
}

.container {
   position: absolute; 
   margin: 0; 
   width:100%; 
   height: 100%;
   min-height: 600px; 
}

.hvid-boks { 
   width: 500px; 
   height: 100px; 
   margin-top: 50px; 
   margin-left: 900px;
   margin-right: auto;   
  
   background: rgba(255,255,255,0.9);
   padding: 30px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
   box-shadow: 0 1px 2px rgba(0,0,0,0.15);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   border-radius: 5px;
   }