body {
   margin: 0px;
   padding: 0px;
}

.bgimage {
   background: #f4f5f4;
   z-index: -1;
   position: absolute; 
   margin: 0; 
   width:100%; 
   height: 100%;
}

.container {
   position: absolute; 
   margin: 0; 
   width:100%; 
   height: 100%;
   min-height: 600px; 
}

.hvid-boks { 
   width: 500px; 
   height: 100px; 
   margin-top: 50px; 
   margin-left: 900px;
   margin-right: auto;   
  
   background: rgba(255,255,255,0.9);
   padding: 30px;
   -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
   box-shadow: 0 1px 2px rgba(0,0,0,0.15);
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   border-radius: 5px;
}

.featured:before {
   content: '+';
   font-weight: 600;
   display: inline-block;
   margin-right: 1px;
   color: #4CB1FF;
}

.vertical-text {
   width:50px; 
   height:50px;
   margin: -60px 0px auto auto; 
   background: #4CB1FF;
}
.vertical-text span {
   width: 50px;
   display: inline-block;
   -webkit-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
   -ms-transform: rotate(-90deg);
   -o-transform: rotate(-90deg);
   transform: rotate(-90deg);
}

p{
   text-align: left;
   width: 450px;
}

ul {
   font-family: "Comfortaa";
   list-style-type: none;
   margin: auto;
   padding: 0;
   overflow: hidden;
   background-color: #333;
   width: 45%;
   margin-top: 10px;
   margin-right: 15px;
   border-style: hidden;
   border-radius: 20px;
   float: right;
 }
 
 li {
   float: left;
   background:#333;
   transition: width 1s, background-color #ffffff ;
   -webkit-transition: 1s;
   width: 20%;
   position: relative;
   text-align: center;
 }
 
 li:hover {
   width: 150px;
 }
 
 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 25px;
   text-decoration: none;
   text-align: center;
 }
 
 
 li a:hover:not(.active) {
   transition: background-color #ffffff 1s;
   -webkit-transition: 1s;
 }
 
 




